<div class="row">
    <div class="col-md-12">
        <div class="x_title">
            <h2>Features</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="nav nav-tabs bar_tabs" id="GSDTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Versions-Tab" data-toggle="tab" href="#Versions" role="tab" aria-controls="Versions" aria-selected="true">Versions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Headings-Tab" data-toggle="tab" href="#Headings" role="tab" aria-controls="Headings" aria-selected="false">Headings/Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="History-Tab" data-toggle="tab" href="#History" role="tab" aria-controls="History" aria-selected="false">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="GraphicsVideo-Tab" data-toggle="tab" href="#GraphicsVideo" role="tab" aria-controls="GraphicsVideo" aria-selected="false">Graphics/Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="LabourDetails-Tab" data-toggle="tab" href="#LabourDetails" role="tab" aria-controls="LabourDetails" aria-selected="false">Labour Details</a>
                </li>
            </ul>
            <div class="tab-content" id="GSDContent">
                <div class="tab-pane fade show active" id="Versions" role="tabpanel" aria-labelledby="Versions-Tab">
                    <div class="x_panel">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Version</th>
                                            <th>Description </th>
                                            <th>Analyst</th>
                                            <th>Date</th>
                                            <th>S.M.V</th>
                                            <th>Labour Cost</th>
                                            <th>% Var</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Headings" role="tabpanel" aria-labelledby="Headings-Tab">
                    <div class="col-md-8">
                        <div class="x_panel">
                            <div class="x_title" style="border-bottom:0px">
                                <h2>Features</h2>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <tr>
                                                <td>Code</td>
                                                <td>
                                                    <input type="number" name="" id="" class="form-control" readonly />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Title</td>
                                                <td>
                                                    <input type="text" name="" id="" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Description</td>
                                                <td>
                                                    <textarea rows="1" style="width:100%" name="" id="" class="form-control"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Comments</td>
                                                <td>
                                                    <textarea rows="1" style="width:100%" name="" id="" class="form-control"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title" style="border-bottom:0px">
                                <h2>Additional</h2>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <tr>
                                                <td>ISO</td>
                                                <td>
                                                    <div class="form-group ">
                                                        <div class="row ">
                                                            <div class="col col-sm-11 col-md-11">
                                                                <select class="form-control" name="" id="">
                                                                    <option value="0"></option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                            <div class="col col-sm-1 col-md-1  align-self-end">
                                                                <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title" style="border-bottom:0px">
                                <h2>Results</h2>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <tr>
                                                <td>Total S.M.V</td>
                                                <td>
                                                    <input type="number" name="" id="" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Basic Labour Cost</td>
                                                <td>
                                                    <input type="number" name="" id="" class="form-control" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="History" role="tabpanel" aria-labelledby="History-Tab">
                    <div class="x_panel">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Analyst</th>
                                            <th>Revision Description</th>
                                            <th>S.M.V</th>
                                            <th>Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="GraphicsVideo" role="tabpanel" aria-labelledby="GraphicsVideo-Tab">
                    1111111111
                </div>
                <div class="tab-pane fade" id="LabourDetails" role="tabpanel" aria-labelledby="LabourDetails-Tab">
                    <div class="x_panel">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Freq.</th>
                                            <th>S.M.V</th>
                                            <th>Sect.</th>
                                            <th>M/C</th>
                                            <th>P.R.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>001</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


