<div class="row">
    <div class="col-md-12">
        <div class="x_title">
            <h2>Operations</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="nav nav-tabs bar_tabs" id="GSDTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Versions-Tab" data-toggle="tab" href="#Versions" role="tab" aria-controls="Versions" aria-selected="true">Versions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Headings-Tab" data-toggle="tab" href="#Headings" role="tab" aria-controls="Headings" aria-selected="false">Headings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="History-Tab" data-toggle="tab" href="#History" role="tab" aria-controls="History" aria-selected="false">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="GraphicsVideo-Tab" data-toggle="tab" href="#GraphicsVideo" role="tab" aria-controls="GraphicsVideo" aria-selected="false">Graphics/Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Machine-Tab" data-toggle="tab" href="#Machine" role="tab" aria-controls="Machine" aria-selected="false">Machine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Equipment-Tab" data-toggle="tab" href="#Equipment" role="tab" aria-controls="Equipment" aria-selected="false">Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="LabourDetails-Tab" data-toggle="tab" href="#LabourDetails" role="tab" aria-controls="LabourDetails" aria-selected="false">Labour Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Seams-Tab" data-toggle="tab" href="#Seams" role="tab" aria-controls="Seams" aria-selected="false">Seams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ThreadDemand-Tab" data-toggle="tab" href="#ThreadDemand" role="tab" aria-controls="ThreadDemand" aria-selected="false">Thread Demand</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="AnalysisResults-Tab" data-toggle="tab" href="#AnalysisResults" role="tab" aria-controls="AnalysisResults" aria-selected="false">Analysis Results</a>
                </li>
            </ul>
            <div class="tab-content" id="GSDContent">
                <div class="tab-pane fade show active" id="Versions" role="tabpanel" aria-labelledby="Versions-Tab">
                    <div class="x_panel">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Version</th>
                                            <th>Description </th>
                                            <th>Analyst</th>
                                            <th>Date</th>
                                            <th>S.M.V</th>
                                            <th>Labour Cost</th>
                                            <th>% Var</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Headings" role="tabpanel" aria-labelledby="Headings-Tab">
                    <div class="col-md-8">
                        <div class="x_panel">
                            <div class="x_title" style="border-bottom:0px">
                                <h2>Operation</h2>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <tr>
                                                <td>Code</td>
                                                <td>
                                                    <input type="number" name="" id="" class="form-control" readonly />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Title</td>
                                                <td>
                                                    <input type="text" name="" id="" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Description</td>
                                                <td>
                                                    <textarea rows="1" style="width:100%" name="" id="" class="form-control"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Comments</td>
                                                <td>
                                                    <textarea rows="1" style="width:100%" name="" id="" class="form-control"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Quality Points</td>
                                                <td>
                                                    <textarea rows="1" style="width:100%" name="" id="" class="form-control"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Quality Comments</td>
                                                <td>
                                                    <textarea rows="1" style="width:100%" name="" id="" class="form-control"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tolerances</td>
                                                <td>
                                                    <textarea rows="1" style="width:100%" name="" id="" class="form-control"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Housekeeping</td>
                                                <td>
                                                    <textarea rows="1" style="width:100%" name="" id="" class="form-control"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title" style="border-bottom:0px">
                                <h2>Additional</h2>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <tr>
                                                <td>Short Description</td>
                                                <td>
                                                    <input type="text" name="" id="" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>ISO</td>
                                                <td>
                                                    <div class="form-group ">
                                                        <div class="row ">
                                                            <div class="col col-sm-11 col-md-11">
                                                                <select class="form-control" name="" id="">
                                                                    <option value="0"></option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                            <div class="col col-sm-1 col-md-1  align-self-end">
                                                                <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Operation Type</td>
                                                <td>
                                                    <div class="form-group ">
                                                        <div class="row ">
                                                            <div class="col col-sm-11 col-md-11">
                                                                <select class="form-control" name="" id="">
                                                                    <option value="0"></option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                            <div class="col col-sm-1 col-md-1  align-self-end">
                                                                <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Bundle Quantity</td>
                                                <td>
                                                    <input type="number" name="" id="" class="form-control" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title" style="border-bottom:0px">
                                <h2>Pay and Department</h2>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <tr>
                                                <td>Pay Code</td>
                                                <td>
                                                    <div class="form-group ">
                                                        <div class="row ">
                                                            <div class="col col-sm-11 col-md-11">
                                                                <select class="form-control" name="" id="">
                                                                    <option value="0"></option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                            <div class="col col-sm-1 col-md-1  align-self-end">
                                                                <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Cost Centre</td>
                                                <td>
                                                    <div class="form-group ">
                                                        <div class="row ">
                                                            <div class="col col-sm-11 col-md-11">
                                                                <select class="form-control" name="" id="">
                                                                    <option value="0"></option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                            <div class="col col-sm-1 col-md-1  align-self-end">
                                                                <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Section</td>
                                                <td>
                                                    <div class="form-group ">
                                                        <div class="row ">
                                                            <div class="col col-sm-11 col-md-11">
                                                                <select class="form-control" name="" id="">
                                                                    <option value="0"></option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                            <div class="col col-sm-1 col-md-1  align-self-end">
                                                                <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title" style="border-bottom:0px">
                                <h2>Factors</h2>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table">
                                            <tr>
                                                <td>Material</td>
                                                <td>
                                                    <input type="text" name="" id="" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Size</td>
                                                <td>
                                                    <textarea rows="1" style="width:100%" name="" id="" class="form-control"></textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="History" role="tabpanel" aria-labelledby="History-Tab">
                    <div class="x_panel">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Analyst</th>
                                            <th>Revision Description</th>
                                            <th>S.M.V</th>
                                            <th>Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="GraphicsVideo" role="tabpanel" aria-labelledby="GraphicsVideo-Tab">
                    1111111111
                </div>
                <div class="tab-pane fade" id="Machine" role="tabpanel" aria-labelledby="Machine-Tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <div class="x_panel">
                                    <div class="x_title" style="border-bottom:0px">
                                        <h2>Details</h2>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <tr>
                                                        <td>Machine Type</td>
                                                        <td>
                                                            <div class="form-group ">
                                                                <div class="row ">
                                                                    <div class="col col-sm-11 col-md-11">
                                                                        <select class="form-control" name="" id="">
                                                                            <option value="0"></option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col col-sm-1 col-md-1  align-self-end">
                                                                        <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Machine Code</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" readonly />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Stitch Type</td>
                                                        <td>
                                                            <input type="text" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>R.P.M</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Stch/CM</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Width/Bight CM</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Distance Between Needles CM</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="x_panel">
                                    <div class="x_title" style="border-bottom:0px">
                                        <h2>Additional Settings</h2>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <tr>
                                                        <td>R.P.M (2)</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Stch/CM (2)</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @* Replace with Image BOX *@
                                                <textarea rows="15" name="" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="Equipment" role="tabpanel" aria-labelledby="Equipment-Tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="x_panel">
                                    <div class="x_title" style="border-bottom:0px">
                                        <h2>Machine Accessories</h2>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <tr>
                                                        <td>Trimming Device</td>
                                                        <td>
                                                            <div class="form-group ">
                                                                <div class="row ">
                                                                    <div class="col col-sm-11 col-md-11">
                                                                        <select class="form-control" name="" id="">
                                                                            <option value="0"></option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col col-sm-1 col-md-1  align-self-end">
                                                                        <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Backtack Devices</td>
                                                        <td>
                                                            <div class="form-group ">
                                                                <div class="row ">
                                                                    <div class="col col-sm-11 col-md-11">
                                                                        <select class="form-control" name="" id="">
                                                                            <option value="0"></option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col col-sm-1 col-md-1  align-self-end">
                                                                        <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Guides/Folders</td>
                                                        <td>
                                                            <div class="form-group ">
                                                                <div class="row ">
                                                                    <div class="col col-sm-11 col-md-11">
                                                                        <select class="form-control" name="" id="">
                                                                            <option value="0"></option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col col-sm-1 col-md-1  align-self-end">
                                                                        <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Presser Feet</td>
                                                        <td>
                                                            <div class="form-group ">
                                                                <div class="row ">
                                                                    <div class="col col-sm-11 col-md-11">
                                                                        <select class="form-control" name="" id="">
                                                                            <option value="0"></option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col col-sm-1 col-md-1  align-self-end">
                                                                        <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Needles</td>
                                                        <td>
                                                            <div class="form-group ">
                                                                <div class="row ">
                                                                    <div class="col col-sm-11 col-md-11">
                                                                        <select class="form-control" name="" id="">
                                                                            <option value="0"></option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col col-sm-1 col-md-1  align-self-end">
                                                                        <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Other Accessories</td>
                                                        <td>
                                                            <input type="text" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Feed type</td>
                                                        <td>
                                                            <input type="text" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="x_panel">
                                    <div class="x_title" style="border-bottom:0px">
                                        <h2>UPS Clamp/Clip Data</h2>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>No.</th>
                                                            <th>Pos</th>
                                                            <th>Component</th>
                                                            <th>H/T</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="LabourDetails" role="tabpanel" aria-labelledby="LabourDetails-Tab">
                    <div class="x_panel">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Freq.</th>
                                            <th>MC-TMU</th>
                                            <th>Man-TMU</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>001</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Seams" role="tabpanel" aria-labelledby="Seams-Tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <div class="x_panel">
                                    <div class="x_title" style="border-bottom:0px">
                                        <h2>Seam Details</h2>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <tr>
                                                        <td>Seam Type</td>
                                                        <td>
                                                            <div class="form-group ">
                                                                <div class="row ">
                                                                    <div class="col col-sm-11 col-md-11">
                                                                        <select class="form-control" name="" id="">
                                                                            <option value="0"></option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col col-sm-1 col-md-1  align-self-end">
                                                                        <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Waste/Seam</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Number of Seams</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Machine Setting 1 Length</td>
                                                        <td>
                                                            <input type="text" name="" id="" class="form-control" readonly />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Machine Setting 2 Length</td>
                                                        <td>
                                                            <input type="text" name="" id="" class="form-control" readonly />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total Seam Length</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" readonly />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Avg.Number of Piles</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <textarea rows="15" name="" id="" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="ThreadDemand" role="tabpanel" aria-labelledby="ThreadDemand-Tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title" style="border-bottom:0px">
                                    <h2>Thread Types</h2>
                                </div>
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Class</th>
                                                        <th>St.Component</th>
                                                        <th>Thread selection</th>
                                                        <th>Metres</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="x_panel">
                                            <div class="x_title" style="border-bottom:0px">
                                                <h2>Seam Details</h2>
                                            </div>
                                            <div class="x_content">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table">
                                                            <tr>
                                                                <td>Average Material Thickness (CM)</td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <div class="row ">
                                                                            <div class="col col-sm-11 col-md-11">
                                                                                <select class="form-control" name="" id="">
                                                                                    <option value="0"></option>
                                                                                    <option value="1">1</option>
                                                                                    <option value="2">2</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col col-sm-1 col-md-1  align-self-end">
                                                                                <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input type="number" name="" id="" class="form-control" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Average Button Thickness (CM)</td>
                                                                <td>
                                                                    <div class="form-group ">
                                                                        <div class="row ">
                                                                            <div class="col col-sm-11 col-md-11">
                                                                                <select class="form-control" name="" id="">
                                                                                    <option value="0"></option>
                                                                                    <option value="1">1</option>
                                                                                    <option value="2">2</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col col-sm-1 col-md-1  align-self-end">
                                                                                <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input type="number" name="" id="" class="form-control" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Average Thread Thickness (CM)</td>
                                                                <td>
                                                                    <div class="form-group ">
                                                                        <div class="row ">
                                                                            <div class="col col-sm-11 col-md-11">
                                                                                <select class="form-control" name="" id="">
                                                                                    <option value="0"></option>
                                                                                    <option value="1">1</option>
                                                                                    <option value="2">2</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col col-sm-1 col-md-1  align-self-end">
                                                                                <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input type="number" name="" id="" class="form-control" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="x_panel">
                                            <div class="x_title" style="border-bottom:0px">
                                                <h2>Thread Demand</h2>
                                            </div>
                                            <div class="x_content">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table">
                                                            <tr>
                                                                <td>Total Needle Thread (M)</td>
                                                                <td>
                                                                    <input type="number" name="" id="" class="form-control" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Total Bobbin/Looper (M)</td>
                                                                <td>
                                                                    <input type="number" name="" id="" class="form-control" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Total Cover Thread (M)</td>
                                                                <td>
                                                                    <input type="number" name="" id="" class="form-control" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Estimated Total Thread (M)</td>
                                                                <td>
                                                                    <input type="number" name="" id="" class="form-control" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="AnalysisResults" role="tabpanel" aria-labelledby="AnalysisResults-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title" style="border-bottom:0px">
                                    <h2>Allowances</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <tr>
                                                    <td>Relaxation Allowance (RA)%</td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>Machine Delay Allowance (MDA)%</td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>Contingency Allowance (CA)%</td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title" style="border-bottom:0px">
                                    <h2>Time and Cost</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table">
                                                <tr>
                                                    <td colspan="9">
                                                        <div class="form-group">
                                                            <div class="row ">
                                                                <div class="col col-sm-11 col-md-11">
                                                                    <select class="form-control" name="" id="">
                                                                        <option value="0">--Select Any--</option>
                                                                        <option value="1">Per Piece</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col col-sm-1 col-md-1  align-self-end">
                                                                    <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>TMU</td>
                                                    <td>Basic Minutes</td>
                                                    <td>RA</td>
                                                    <td>MDA</td>
                                                    <td>Total Minutes</td>
                                                    <td>CA</td>
                                                    <td>SMV</td>
                                                    <td>Cost</td>
                                                </tr>
                                                <tr>
                                                    <td>Bundles</td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Manual</td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Machine</td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Totals</td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="number" name="" id="" class="form-control" />
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <div class="x_panel">
                                    <div class="x_title" style="border-bottom:0px">
                                        <h2>Capacity</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <tr class="text-center">
                                                        <td></td>
                                                        <td>1</td>
                                                        <td>2</td>
                                                        <td>3</td>
                                                    </tr>
                                                    <tr class="text-center">
                                                        <td></td>
                                                        <td>@@100</td>
                                                        <td>@@% of 100</td>
                                                        <td>@@% of 100</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="row ">
                                                                    <div class="col col-sm-11 col-md-11">
                                                                        <select class="form-control" name="" id="">
                                                                            <option value="0">--Select Any--</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col col-sm-1 col-md-1  align-self-end">
                                                                        <button type="button" class="btn-success"><span class="fa fa-plus"></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="x_panel">
                                    <div class="x_title" style="border-bottom:0px">
                                        <h2>Engineering Opportunity</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table">
                                                    <tr>
                                                        <td>None Machine Time %</td>
                                                        <td>
                                                            <input type="number" name="" id="" class="form-control" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

