
@{
    ViewBag.Title = "Operations GSD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="overlay">
    <div id="text">Overlay Text</div>
</div>
<div class="right_col pb-4" role="main">
    <div class="x_content">
        <div class="x_panel">
            <div class="x_title">
                <h2>Operations/GSD</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <a href="/GSD/SMVs">
                            <div class="tile-stats" style="background-color:darkred; color:white; cursor:pointer">
                                <div class="icon">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <div class="count" style="font-size: x-large">SMV</div>
                                <p>All Customers</p>
                            </div>
                        </a>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: darkgreen; color: white; cursor: pointer">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size: x-large">Line Balancing</div>
                            <p>Process Flow</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: navy; color: white; cursor: pointer">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size: x-large">References</div>
                            <p>Videos etc.</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: black; color: white; cursor: pointer">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size: x-large">Line Balancing</div>
                            <p>-</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: lightcoral; color: white; cursor: pointer">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size: x-large">Printing</div>
                            <p>Targets</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: lightgreen; color: white; cursor: pointer">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size: x-large">Thread</div>
                            <p>Consumption</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: dodgerblue; color: white; cursor: pointer">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size: x-large">Machines</div>
                            <p>All Details</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: darkseagreen; color: white; cursor: pointer">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size: x-large">Audits</div>
                            <p>Results/Findings</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: teal; color: white; cursor: pointer ">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size: x-large">General</div>
                            <p>Standards</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: sandybrown; color: white; cursor: pointer ">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size: x-large">Methods</div>
                            <p>Standardization</p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <div class="tile-stats" style="background-color: darkslategray; color: white; cursor: pointer ">
                            <div class="icon">
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="count" style="font-size:x-large">Skills Matrix</div>
                            <p>Manpowers</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
                        <a href="/Development/GSDSetup">
                            <div class="tile-stats" style="background-color: red; color: white; cursor: pointer ">
                                <div class="icon">
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <div class="count" style="font-size: x-large">Setups</div>
                                <p>Master Data</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
